.createPolicy {
  width: 100%;
  height: auto;
  padding: 0 30rpx;
  box-sizing: border-box;

  .label-warp {
    width: 100%;
    height: auto;
    padding-bottom: 150rpx;
    box-sizing: border-box;

    .label {
      width: 100%;
      height: auto;
      margin-top: 30rpx;

      &-desc {
        width: 100%;
        height: auto;
        margin-bottom: 30rpx;

        text {
          font-size: 24rpx;
          color: var(--text-gray);
        }
      }

      &-card {
        width: 100%;
        height: auto;
        padding: 24rpx;
        box-sizing: border-box;
        border-radius: 16rpx;
        border: 2rpx solid var(--background-gray);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30rpx;

        &-image {
          width: 58rpx;
          height: 58rpx;
          display: flex;
          align-items: center;
          justify-content: center;

          image {
            width: 48rpx;
            height: 48rpx;
          }
        }

        &-info {
          width: calc(100% - 78rpx);
          height: 78rpx;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          text {
            font-size: 26rpx;
            color: var(--text-black);
            font-weight: 500;

            &:last-child {
              font-size: 24rpx;
              color: var(--text-gray);
              font-weight: 400;
              margin-top: 10rpx;
            }
          }
        }
      }
    }
  }
}