.contract {
    width: 100%;
    min-height: 100vh;
    background: var(--background-primary);

    .nav-bar {
        width: 100%;
        height: 88rpx;
        padding: 0 30rpx;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .change-icon {
                width: 35rpx;
                margin-left: 8rpx;
            }
        }

        &-right {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            &-image {
                width: 58rpx;
                display: flex;
                align-items: center;
                justify-content: center;

                image {
                    width: 34rpx;
                }

                &:first-of-type {
                    image {
                        width: 30rpx;
                    }
                }

                &:last-of-type {
                    image {
                        width: 36rpx;
                    }
                }
            }
        }

        .nav-bar-menu {
            min-width: 200rpx;
            padding: 10rpx;
            box-sizing: border-box;
            border-radius: 16rpx;
            background: var(--white);
            transform: scale(0);
            transform-origin: right top;
            transition: transform 0.25s linear;
            position: fixed;
            right: 25rpx;

            &-item {
                width: 100%;
                height: 75rpx;
                border-radius: 12rpx;
                display: flex;
                align-items: center;
                justify-content: center;

                &:active {
                    background: var(--color-gray-bg);
                }
            }
        }

        .menu-show {
            transform: scale(1);
        }
    }

    .contract-body {
        width: 100%;
        height: auto;
        background: var(--background-primary);

        &-kline {
            @extend .contract-body;
        }

        &-top {
            width: 100%;
            height: auto;
            padding: 30rpx;
            box-sizing: border-box;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            &-left {
                width: calc(65% - 8rpx);
                height: auto;

                &-cell {
                    width: 100%;
                    height: auto;

                    .tag-box {
                        height: 48rpx;
                        padding: 0 16rpx;
                        border-radius: 8rpx;
                        box-sizing: border-box;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        background: var(--background-secondary);
                        margin-right: 16rpx;

                        image {
                            width: 30rpx;
                            margin-left: 6rpx;
                        }
                    }

                    .down-box {
                        width: 100%;
                        height: 52rpx;
                        border-radius: 8rpx;
                        padding: 0 16rpx;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        image {
                            width: 30rpx;
                        }
                    }

                    .input-box {
                        width: 100%;
                        height: 72rpx;
                        border-radius: 8rpx;
                        padding: 0 16rpx;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border: 2rpx solid transparent;

                        &:focus-within {
                            border-color: var(--color-primary);
                        }

                        image {
                            width: 30rpx;
                        }
                    }

                    .button-box {
                        width: 100%;
                        height: 72rpx;
                        border-radius: 72rpx;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .trade-button {
                        width: calc(50%);
                        height: 44rpx;
                        border-radius: 8rpx;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &[type='buy'] {
                            clip-path: polygon(0% 0%, 75% 0%, 100% 0, 90% 100%, 0% 100%);
                        }

                        &[type='sell'] {
                            clip-path: polygon(10% 0%, 75% 0%, 100% 0, 100% 100%, 0% 100%);
                        }
                    }

                    .change-icon {
                        width: 28rpx;
                        margin-left: 10rpx;
                    }

                    .number-group {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;

                        &-top {
                            width: 100%;
                            height: 48rpx;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 4rpx;

                            &-item {
                                width: calc(50% - 2rpx);
                                height: 48rpx;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: var(--background-secondary);

                                &:first-of-type {
                                    border-top-left-radius: 8rpx;
                                }

                                &:last-of-type {
                                    border-top-right-radius: 8rpx;
                                }
                            }
                        }

                        &-bottom {
                            .input-box {
                                border-top-left-radius: 0;
                                border-top-right-radius: 0;
                            }
                        }
                    }

                    .slider-box {
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 15rpx;

                        .slider-box-top {
                            width: 100%;
                            height: 40rpx;
                            position: relative;

                            .slider {
                                margin: 0 10rpx;
                            }

                            .slider-points {
                                width: 100%;
                                height: 40rpx;
                                box-sizing: border-box;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                position: absolute;
                                top: 0;
                                left: 0;

                                .points {
                                    width: 20rpx;
                                    height: 26rpx;
                                    background: var(--white);
                                    position: relative;
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 2rpx;
                                    z-index: 1;

                                    &:before {
                                        content: "";
                                        display: inline-block;
                                        width: 8rpx;
                                        height: 10rpx;
                                        background: var(--color-arcode-input-bg);
                                        position: absolute;
                                        left: 6.5rpx;
                                        border-radius: 2rpx;
                                    }
                                }

                                .active {
                                    &:before {
                                        background: var(--blue);
                                    }
                                }
                            }
                        }

                        .slider-box-bottom {
                            width: 100%;
                            height: auto;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 4rpx;
                        }
                    }

                    .check-box {
                        display: flex;
                        align-items: center;

                        .checkbox {
                            width: 30rpx;
                            height: 30rpx;
                            border-radius: 8rpx;
                            margin-right: 6rpx;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: var(--background-secondary);
                            overflow: hidden;

                            image {
                                width: 30rpx;
                                border-radius: 8rpx;
                            }
                        }

                        text {
                            margin: 0 2rpx 0 10rpx;
                        }
                    }

                    .input-group {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 20rpx;

                        &-item {
                            width: calc(50% - 5rpx);
                            height: 68rpx;
                            border-radius: 8rpx;
                            padding: 0 16rpx;
                            box-sizing: border-box;
                            background: var(--background-secondary);
                            border: 2rpx solid transparent;

                            &:focus-within {
                                border-color: var(--color-primary);
                            }

                            input {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .issue-icon {
                        width: 26rpx !important;
                        opacity: .8;
                    }
                }
            }

            &-right {
                width: calc(35% - 8rpx);
                height: auto;

                .rate-box {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }

                .data-desc {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 4rpx;

                    &-item {
                        display: flex;
                        flex-direction: column;

                        &:last-of-type {
                            align-items: flex-end;
                        }
                    }
                }

                .data-list {
                    width: 100%;
                    height: auto;

                    &-item {
                        width: 100%;
                        height: 48rpx;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;
                        overflow: hidden;
                        padding: 0 6rpx;
                        box-sizing: border-box;

                        .bg-box {
                            height: 48rpx;
                            transition: all 0.15s linear;
                            position: absolute;
                            right: 0;
                            opacity: .1;
                        }
                    }
                }

                .data-center {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 16rpx 0;
                    box-sizing: border-box;
                }

                .right-bottom {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &-select {
                        width: calc(100% - 8rpx);
                        height: 48rpx;
                        border-radius: 8rpx;
                        padding: 0 16rpx;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        image {
                            width: 25rpx;
                        }
                    }

                    &-image {
                        width: 48rpx;
                        height: 48rpx;
                        border-radius: 8rpx;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        image {
                            width: 25rpx;
                        }
                    }
                }
            }
        }

        &-bottom {
            width: 100%;
            height: auto;

            .bottom-swiper {
                width: 100%;

                &-item {
                    width: 100%;
                    height: 100%;

                    .tip-box {
                        width: 100%;
                        height: 48rpx;
                        padding: 0 30rpx;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background: var(--background-secondary);

                        .label {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;

                            .checkbox {
                                width: 30rpx;
                                height: 30rpx;
                                border-radius: 8rpx;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: var(--border-strength-100);
                                margin-right: 8rpx;
                                overflow: hidden;

                                image {
                                    width: 30rpx;
                                    border-radius: 8rpx;
                                }
                            }
                        }
                    }

                    .scroll-view {
                        width: 100%;
                        height: calc(100% - 48rpx);

                        .list-container {
                            width: 100%;
                            height: auto;
                            padding: 0 30rpx;
                            box-sizing: border-box;

                            .list-item {
                                width: 100%;
                                height: auto;
                                padding: 24rpx 0;
                                box-sizing: border-box;
                                border-bottom: 1rpx solid var(--border-strength-100);

                                .row {
                                    width: 100%;
                                    height: auto;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    margin-bottom: 24rpx;

                                    .row-left {
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-start;
                                    }
                                }

                                .row-cell {
                                    width: 100%;
                                    height: auto;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    margin-bottom: 24rpx;

                                    .row-left {
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-start;
                                    }

                                    &:last-of-type {
                                        margin-bottom: 0;
                                    }
                                }

                                .column {
                                    width: 100%;
                                    height: auto;
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 24rpx;

                                    .row-cell {
                                        width: 100%;
                                        height: auto;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        margin-bottom: 6rpx;

                                        &:last-of-type {
                                            margin-bottom: 0;
                                        }

                                        &-item {
                                            width: calc(100% / 3);
                                            height: auto;
                                            display: flex;
                                            align-items: center;

                                            &:first-of-type {
                                                justify-content: flex-start;
                                            }

                                            &:nth-of-type(2) {
                                                justify-content: center;
                                            }

                                            &:last-of-type {
                                                justify-content: flex-end;
                                            }
                                        }
                                    }
                                }

                                .item-footer {
                                    width: 100%;
                                    height: 48rpx;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;

                                    button {
                                        width: calc(100% / 3 - 10rpx);
                                        height: 58rpx;
                                        border-radius: 8rpx;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background: var(--background-secondary);
                                        color: var(--content-primary);
                                        font-size: 26rpx;

                                        &:active {
                                            opacity: .8;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .issue-icon {
                width: 26rpx !important;
                opacity: .8;
            }

            &-tab {
                width: 100%;
                height: 88rpx;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 30rpx;
                box-sizing: border-box;

                &-left {
                    width: calc(100% - 88rpx);
                    height: 88rpx;
                    display: flex;
                    align-items: center;

                    &-item {
                        margin-right: 30rpx;
                    }
                }

                .order-icon {
                    width: 44rpx;
                }
            }

            &-tip {
                width: 100%;
                height: 60rpx;
                background: var(--color-gray-bg);
                padding: 0 30rpx;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .check-box {
                    image {
                        width: 30rpx;
                    }
                }
            }

            &-list {
                width: 100%;

                .list-box {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .not-data {
                        width: 100%;
                        height: 700rpx;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    &-item {
                        width: 100%;
                        height: auto;
                        padding: 30rpx;
                        box-sizing: border-box;
                        border-bottom: 2rpx solid var(--color-gray-bg);

                        &-cell {
                            width: 100%;
                            height: auto;
                            margin-top: 20rpx;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .share-icon {
                                width: 40rpx;
                            }

                            &-row {
                                width: calc(100% / 3);
                                display: flex;
                                align-items: center;

                                &:nth-of-type(2) {
                                    justify-content: center;
                                }

                                &:last-of-type {
                                    justify-content: flex-end;
                                }
                            }

                            .cell-button-item {
                                height: 78rpx;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                min-width: 30%;
                                border-radius: 10rpx;
                                background: var(--color-gray-bg);
                                border: 2rpx solid var(--color-gray-bg);
                                font-size: 26rpx;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }

    .popup-wrap-box {
        width: 100%;
        height: auto;
        padding: 0 30rpx;
        box-sizing: border-box;
        background: var(--background-primary);
        border-radius: 16rpx 16rpx 0 0;

        &-title {
            width: 100%;
            height: 88rpx;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .close-icon {
                position: absolute;
                right: 0;
            }
        }

        .max-content {
            min-height: 200rpx;
        }

        &-content {
            width: 100%;
            height: auto;
            padding: 30rpx 0;
            box-sizing: border-box;

            .content-cell {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &-buttons {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    ._button {
                        width: calc(100% / 3 - 16rpx);
                        height: 68rpx;
                        border-radius: 8rpx;
                        border: 2rpx solid var(--background-secondary);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: var(--background-secondary);

                        &-active {
                            border-color: var(--color-primary);
                        }
                    }
                }

                &-tabs {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;

                    &-item {
                        height: 68rpx;
                        padding: 0 20rpx;
                        box-sizing: border-box;
                        border-radius: 10rpx;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 16rpx;
                    }
                }

                &-input-box {
                    width: 100%;
                    height: 88rpx;
                    border-radius: 10rpx;
                    background: var(--background-secondary);
                    padding: 0 20rpx;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: 2rpx solid var(--background-secondary);

                    &:focus-within {
                        border-color: var(--blue);
                    }

                    input {
                        width: 70%;
                        height: 78rpx;
                        font-size: 26rpx;
                    }
                }

                .slider-box {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 15rpx;

                    .slider-box-top {
                        width: 100%;
                        height: 40rpx;
                        position: relative;

                        .slider {
                            margin: 0 10rpx;
                        }

                        .slider-points {
                            width: 100%;
                            height: 40rpx;
                            box-sizing: border-box;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            position: absolute;
                            top: 0;
                            left: 0;

                            .points {
                                width: 20rpx;
                                height: 26rpx;
                                background: var(--white);
                                position: relative;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 2rpx;
                                z-index: 1;

                                &:before {
                                    content: "";
                                    display: inline-block;
                                    width: 8rpx;
                                    height: 10rpx;
                                    background: var(--color-arcode-input-bg);
                                    position: absolute;
                                    left: 6.5rpx;
                                    border-radius: 2rpx;
                                }
                            }

                            .active {
                                &:before {
                                    background: var(--blue);
                                }
                            }
                        }
                    }

                    .slider-box-bottom {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 4rpx;
                    }
                }

                &-row {
                    @extend .content-cell;
                    margin-top: 10rpx;

                    .input-box {
                        width: calc(100% - 98rpx) !important;

                        input {
                            width: 80%;
                        }
                    }

                    .input-button {
                        width: 88rpx;
                        height: 88rpx;
                        background: var(--color-gray-bg);
                        border-radius: 10rpx;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .input-box {
                    width: 100%;
                    height: 88rpx;
                    background: var(--color-gray-bg);
                    border-radius: 10rpx;
                    padding: 0 20rpx;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: 2rpx solid var(--color-gray-bg);

                    &:focus-within {
                        border-color: var(--blue);
                    }

                    input {
                        width: 80%;
                    }
                }

                .input-box-active {
                    border-color: var(--blue);
                }
            }

            .content-cell-column {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

            .content-button {
                @extend .content-cell;
                margin-top: 40rpx;

                ._button {
                    width: 100%;
                    height: 78rpx;
                    border-radius: 78rpx;
                    font-size: 26rpx;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

.drawer {
    width: 100%;
    height: auto;
    background: var(--white);

    &-title {
        width: 100%;
        height: 88rpx;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &-search {
        width: 100%;
        height: auto;
        padding: 0 30rpx;
        box-sizing: border-box;

        &-box {
            width: 100%;
            height: 88rpx;
            border-radius: 10rpx;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--color-gray-bg);
            padding: 0 20rpx;
            box-sizing: border-box;

            input {
                width: calc(100% - 70rpx);
                margin-left: 16rpx;
                font-size: 26rpx;
                color: var(--black);
            }
        }
    }

    &-tabs {
        @extend .drawer-search;
        display: flex;
        align-items: center;

        &-item {
            padding: 0 20rpx;
            box-sizing: border-box;
            height: 68rpx;
            border-radius: 10rpx;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 16rpx;
        }
    }

    &-desc {
        @extend .drawer-search;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-item {
            display: flex;
            align-items: center;

            &:nth-of-type(1) {
                width: 50%;
            }

            &:nth-of-type(2),
            &:nth-of-type(3) {
                width: 25%;
                justify-content: flex-end;
            }

            image {
                width: 16rpx;
                margin-left: 10rpx;
            }
        }
    }

    &-list {
        width: 100%;
        height: 79.4%;

        &-not {
            width: 100%;
            height: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-cell {
            width: 100%;
            height: 68rpx;
            border-radius: 10rpx;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 30rpx;
            box-sizing: border-box;
            margin-top: 16rpx;

            &-item {
                display: flex;
                align-items: center;

                &:nth-of-type(1) {
                    width: 50%;
                }

                &:nth-of-type(2),
                &:nth-of-type(3) {
                    width: 25%;
                    justify-content: flex-end;
                }
            }
        }
    }
}

.bg-box {
    width: 100%;
    height: 44rpx;
    transition: width 0.5s linear;
    position: absolute;
    right: 0;
}

.placeholder {
    font-size: 24rpx !important;
}